.g1 {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.d1 {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.d2 {
    width: 30%;
    height: 50px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
.f1 {
    width: 30px;
    object-fit: contain;
}
.f2 {
    width: 80px;
    object-fit: contain;
}
.l1 {
    font-size: 5px;
}
.d5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    padding: 0;
}
.d4 {
    width: 20px;
    object-fit: contain;
    margin: 5px;
}
.d6 {
    display: flex;
    align-items: center;
    width: 120px;
    object-fit: contain;
}
.d3 {
    display: flex;
    width: 180px;
    height: 50px;
}
.e1 {
    width: 10%;
    height: 840px;
}
.e2 {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 840px;
}
main {
    display: flex;
}
.e3 {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.j {
    width: auto;
    height: 25px;
    background-color: rgb(160, 174, 180);
    border-radius: 30%;
    margin: 5px;
    padding: 3px;
}
.e3 p {
    font-size: 20px;
}
.k {
    display: flex;
    width: 187px;
    height: 40px;
    border-radius: 20%;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.k img {
    margin-left: 10px;
    margin-right: 10px;
}
.d7 {
    width: 187px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.q1 p {
    margin: 10px;
}
.d7 img {
    margin-right: 10px;
}
.d6 img {
    margin-right: 10px;
}
.v1 {
    display: flex;
    width: 187px;
    height: 40px;
    border-radius: 20%;
    align-items: center;
    margin: 8px;
}
.v1 h3 {
    margin-left: 11px;
}
.v2 {
    margin-left: 10px;
}
.v3 {
    display: flex;
    width: 187px;
    height: 40px;
    border-radius: 20%;
    align-items: center;
    margin: 8px;
}
.p1 {
    width: 400px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}
.p2 {
    width: 360px;
    height: 200px;
    margin: 10px;
    margin-bottom: 10px;
}
.p3 {
    width: 360px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    margin-top: 10px;
    display: flex;
}
.p2 img {
    width: 360px;
    height: 200px;
    margin: 0;
}
.p4 {
    width: 280px;
    height: 120px;
    background-color: rgb(255, 255, 255);
}
.p5 {
    width: 80px;
    height: 120px;
}
.u1 {
    margin: 10px;
}
.p5 img {
    width: 60px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
}
.p0 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
body {
    margin: 0;
}